body,html
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#home
{
    height: 100vh;
}
.layer2 h1
{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
}

.layer1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/bg.jpg);
    background-position: center;
    background-attachment: fixed;
}
.layer2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 50%;
    padding: 45px 0;
    text-align: center;
    border-top-left-radius:70px ;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: 10px 0;
    border: 10px inset #fff;
    z-index: 1;
}
.layer2 p
{
    padding: 0 8%;
}


button
{

    background-color: rgb(62, 110, 133);
    color: white;
    padding: 10px 50px;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
}
button:hover
{
    background-color: rgb(80, 156, 175);
    border: 2px solid white;
}
@media (max-width:770px)
{
    .layer2 h1
    {
        font-size: 1rem;
    }
    button
{

    padding: 10px 5px;
}
}

.messg-part
{
    background: -webkit-linear-gradient(white,rgb(132, 150, 167));
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0em;
    padding: 60px;
}
.left 
{
    display: flex;
    flex-wrap: wrap;
    align-self: center;

}
.right
{
    flex-direction: column;
    display: flex;
}
@media(max-width:500px)
{
    .left,.right
    {
       width: 100%;
       align-self: center;
    }
}
@media(max-width:950px)
{
    .messg-part
    {
        flex-direction: column;
            justify-content: center;
    }
}

.blog-txt
{
    width: 30%;
   text-align: center;
   transform: translateX(100%);
   margin-top: 20px;
}
.blog-txt h3
{
    border: 5px solid grey;
    padding: 10px;
}
.card-deck
{
    margin: 50px;
    padding: 50px;
}
.card-body
{
    padding: 10px;
}
#footer
{
    text-align: center;
    background-color: rgb(85, 176, 212,0.5);
}
.container-fluid
{
	padding: 2%/*top and bottom*/ 15%/*left and right*/;
}
.foot-icon
{
	margin: 4%/*top*/ 3%/*right*/ 0/*bottom*/ 0;/*left*/
	padding-bottom: 2%;
}
.footer-p
{
	font-family: 'Piedra', cursive;
	color: light grey;
	font-size: 1.5rem;
}